<launch>
    <!-- <include file="$(find <package>)/launch/file.launch"/> -->
    <!-- <prarm name="goal_position" value="5" /> -->
    <node pkg="turtlesim" type="turtlesim_node" name="turtlesim_node" output="screen"/>
    <node pkg="turtlesimContol" type="planner" name="planner" output="screen"/>
</launch>
